body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
    display: block;
}

/* ================================================== */
/* COMPOSANT REGLAGES */
/* ================================================== */

/* mode clair */

.leaflet-control-search,
.leaflet-control-search .search-tooltip,
.leaflet-tooltip-custom,
.leaflet-control-layers,
#dark-mode-toggle,
.room-label,
.custom-geojson-button,
.leaflet-control-locate a,
.leaflet-control-zoom .leaflet-control-zoom-out,
.leaflet-control-zoom .leaflet-control-zoom-in {
    background-color: #ffffff !important;
    border: 2px solid #d9d9d9 !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2) !important;
    color: #000000 !important;
}

#getLocationBtn {
    background-color: #ffffff !important;
}

.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-cancel:hover,
.leaflet-control-search .search-tooltip li:hover,
.custom-geojson-button:hover,
#getLocationBtn:hover,
.leaflet-control-zoom a:hover {
    background-color: #d9d9d9 !important;
}

/* mode sombre */

body.dark-mode .leaflet-control-search,
body.dark-mode .leaflet-control-search .search-tooltip,
body.dark-mode .leaflet-tooltip-custom,
body.dark-mode .leaflet-control-layers,
body.dark-mode #dark-mode-toggle,
body.dark-mode .room-label,
body.dark-mode .custom-geojson-button,
body.dark-mode .leaflet-control-locate a,
body.dark-mode .leaflet-control-zoom .leaflet-control-zoom-out,
body.dark-mode .leaflet-control-zoom .leaflet-control-zoom-in {
    background-color: #1e1e1e !important;
    border: 2px solid #444444 !important;
    box-shadow: 0 10px 10px rgba(105, 105, 105, 0.2) !important;
    color: #ffffff !important;
}

body.dark-mode .leaflet-control-search input,
body.dark-mode #getLocationBtn {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

body.dark-mode .leaflet-control-search .search-button:hover,
body.dark-mode .leaflet-control-search .search-cancel:hover,
body.dark-mode .leaflet-control-search .search-tooltip li:hover,
body.dark-mode .custom-geojson-button:hover,
body.dark-mode #getLocationBtn:hover,
body.dark-mode .leaflet-control-zoom a:hover {
    background-color: #444444 !important;
}

/* ================================================== */
/* COMPOSANT PRINCIPAL : BARRE DE RECHERCHE */
/* ================================================== */

.leaflet-control-search {
    border-radius: 300px !important;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    width: calc(100vw - 20px);
    z-index: 1010;
    bottom: 75px;
}

.leaflet-control-search .search-button {
    width: 40px;
    height: 40px;
    background: url('./images/search-icon.svg') no-repeat center center;
    background-size: 60%;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: 0 0 auto;
    align-self: center;
    -webkit-appearance: none;
    appearance: none;
    line-height: 0;
}

.leaflet-control-search .search-cancel {
    background: url('./images/cancel-icon.svg') no-repeat center center;
    background-size: 56%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    cursor: pointer;
    right: 50px;
}

.leaflet-control-search .search-tooltip {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1010;
    list-style-type: none;
    padding-left: 20px;
}

.leaflet-control-search input {
    outline: none;
    border: none !important;
    box-shadow: none !important;
    width: calc(100% - 60px);
    padding: 10px;
    font-size: 14px;
}

.leaflet-control-search .search-tooltip li {
    padding: 0px;
    cursor: pointer;
}

.leaflet-control-search .search-button:hover {
    background: url('./images/search-icon.svg') no-repeat center center;

    background-size: 60%;
}

#search-control-start .search-cancel {
    right: 90px;
}

/* ================================================== */
/* COMPOSANTS SECONDAIRES */
/* ================================================== */

.leaflet-interactive:hover {
    fill-opacity: 0.97;
    cursor: pointer;
}

.leaflet-tooltip-custom {
    font-size: 14px;
    border-radius: 15px;
    padding: 2px 5px;
}

.leaflet-popup-content {
    font-size: 14px;
    font-weight: bold;
}

.leaflet-interactive {
    border-radius: 50%;
}

.leaflet-control-zoom {
    position: fixed;
    bottom: 25px;
    right: 10px;
    border: none !important;
}

.leaflet-control-layers {
    border-radius: 15px;
    padding: 10px;
    padding-right: 15px;
    z-index: 100;
    display: flex;
}

.leaflet-control-zoom .leaflet-control-zoom-in {
    border-radius: 15px 15px 0px 0px !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.leaflet-control-zoom .leaflet-control-zoom-out {
    border-radius: 0px 0px 15px 15px !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.leaflet-control-zoom {
    border: none !important;
}

#dark-mode-toggle {
    z-index: 1000;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.theme-icon {
    width: 30px;
    height: 30px;
}

.room-label {
    font-weight: bold;
    opacity: 1;
    border-radius: 15px;
    padding: 2px 4px;
}

.custom-geojson-button {
    border-radius: 15px !important;
    font-family: 'Arial', sans-serif;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/*style de du bouton de loclaisation*/

.leaflet-control-locate {
    border: none !important;
    box-shadow: none !important;
    z-index: 1000;
}

.leaflet-control-locate a {
    cursor: pointer;
    border-radius: 15px !important;
    width: 47px !important;
    height: 47px !important;
}

.leaflet-control-locate a .leaflet-control-locate-location-arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 7px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="black" d="M445 4 29 195c-48 23-32 93 19 93h176v176c0 51 70 67 93 19L508 67c16-38-25-79-63-63z"/></svg>');
}

.leaflet-control-locate a .leaflet-control-locate-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 7px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="black" d="M304 48a48 48 0 1 1-96 0 48 48 0 0 1 96 0zm-48 368a48 48 0 1 0 0 96 48 48 0 0 0 0-96zm208-208a48 48 0 1 0 0 96 48 48 0 0 0 0-96zM96 256a48 48 0 1 0-96 0 48 48 0 0 0 96 0zm13 99a48 48 0 1 0 0 96 48 48 0 0 0 0-96zm294 0a48 48 0 1 0 0 96 48 48 0 0 0 0-96zM109 61a48 48 0 1 0 0 96 48 48 0 0 0 0-96z"/></svg>');
    animation: leaflet-control-locate-spin 2s linear infinite;
}

.leaflet-control-locate.active a .leaflet-control-locate-location-arrow {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgb(32, 116, 182)" d="M445 4 29 195c-48 23-32 93 19 93h176v176c0 51 70 67 93 19L508 67c16-38-25-79-63-63z"/></svg>');
}

.leaflet-control-locate.following a .leaflet-control-locate-location-arrow {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgb(252, 132, 40)" d="M445 4 29 195c-48 23-32 93 19 93h176v176c0 51 70 67 93 19L508 67c16-38-25-79-63-63z"/></svg>');
}

.leaflet-touch .leaflet-bar .leaflet-locate-text-active {
    width: 100%;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
}

.leaflet-touch .leaflet-bar .leaflet-locate-text-active .leaflet-locate-icon {
    padding: 0 5px 0 0;
}

/* fin du bouton de localisation*/

#getLocationBtn {
    position: relative;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    border: none;
    background: url('./images/locate-icon.svg') no-repeat center center;
    background-size: 65%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* ================================================== */
/* AFFICHAGE TELEPHONE */
/* ================================================== */

@media (max-width: 600px),
(hover: none) and (pointer: coarse) {

    .leaflet-control-layers {
        position: relative;
        top: 70px;
    }

    .leaflet-control-locate {
        position: relative;
        top: 285px;
    }

    .leaflet-control-search {
        position: relative;
        top: 0px;
        width: calc(100vw - 20px);
    }

    .leaflet-control-search .search-tooltip {
        width: calc(100% - 110px);
        top: 65px;
    }

    #search-control-start .search-tooltip {
        top: 130px;
    }

    .leaflet-control-search .search-tooltip {
        width: calc(100% - 110px);
        top: 65px;
    }

    #dark-mode-toggle {
        position: absolute;
        top: 235px;
        right: 10px;
    }

    /* Positionnement des notifications */
    .leaflet-notification.leaflet-bottom {
        width: 100% !important;
        left: 0 !important;
        right: auto !important;
        bottom: 0 !important;
        transform: none !important;
        margin: 0 !important;
        max-width: none !important;
    }

    .leaflet-notification .leaflet-control {
        width: 100% !important;
        border-radius: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }

    .leaflet-notification .leaflet-notification-container {
        width: 100vw !important;
        max-width: none !important;
    }

}

/* ================================================== */
/* AFFICHAGE PC */
/* ================================================== */

@media(min-width: 601px) {

    .leaflet-control-search {
        position: absolute;
        top: 0px;
        width: 500px;
        padding: 10px;
    }

    #search-control-start .search-tooltip {
        top: 147px;
    }

    .leaflet-control-layers {
        position: relative;
        top: -60px;
    }

    .leaflet-control-locate {
        position: relative;
        top: 155px;
    }

    #dark-mode-toggle {
        position: absolute;
        top: 105px;
        right: 10px;
    }

}

/* ================================================== */
/* GESTION DES ICONS */
/* ================================================== */


body.dark-mode .leaflet-control-search .search-cancel {
    background: url('./images/cancel-icon-dark.svg') no-repeat center center;
    background-size: 56%;
}

body.dark-mode .leaflet-control-search .search-button:hover {
    background: url('./images/search-icon-dark.svg') no-repeat center center;
    background-size: 60%;
}

body.dark-mode .leaflet-control-search .search-button {
    background: url('./images/search-icon-dark.svg') no-repeat center center;
    background-size: 60%;
}

body.dark-mode #getLocationBtn {
    background: url('./images/locate-icon-dark.svg') no-repeat center center;
    background-size: 65%;
}

/* ================================================== */
/* CUSTOM NOTIFICATION ICON */
/* ================================================== */

.leaflet-notification .leaflet-notification-icon {
    background: url('./images/warning-icon.svg') no-repeat center center;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.search-location-button {
    background: none;
    border: none !important;
    padding: 0 8px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: opacity 0.2s;
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
}

.search-location-button:hover {
    opacity: 1;
    background-color: #d9d9d9;
}

.search-location-button img {
    width: 20px;
    height: 20px;
}

/* Ajuster l'espacement pour le bouton de recherche */
.leaflet-control-search .search-input {
    padding-right: 85px !important;
}

/* Ajuster en mode sombre */
body.dark-mode .search-location-button img {
    filter: invert(1);
}

.search-location-button {
    background: none;
    border: none;
    padding: 0 8px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.search-location-button:hover {
    opacity: 1;
}

.search-location-button img {
    width: 18px;
    height: 18px;
}

.leaflet-control-search .search-input {
    padding-right: 30px;
}

#nohover {
    pointer-events: none !important;
    fill-opacity: 0.15 !important;
    stroke-opacity: 1 !important;
}

.leaflet-control-search .search-alert {
    color: red;
    background-color: white;
    font-size: 15px;
    margin-top: 5px;
    position: absolute;
    right: 90px;
}

#search-control-start .search-alert {
    right: 130px;
}

body.dark-mode .leaflet-control-search .search-alert {
    color: rgb(255, 139, 139) !important;
    background-color: #1e1e1e !important;
}